/* 
Colores de claro a oscuro:

#73EEDC 
#73C2BE
#776885
#5F1A37
#04030F 

*/

body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #04030F;
  color: #73EEDC
}
/*     MAIN GRID       */
section.container {
  display: grid;
  grid-template-columns: 1fr 6fr 2fr;
  min-height: 100vh;
  grid-template-rows: 100px 1fr 50px;
  justify-content: center;
  grid-template-areas: 
        "header header header"
        "aside main list"
        "footer footer footer "
}



section.container header{
  grid-area: header;
}

section.container footer{
  grid-area: footer;
}

section.container aside{
  grid-area: aside;
}

section.container aside.list{
  grid-area: list;
}
section.container main{
  grid-area: main;
  display: grid;
  top: 0%;
  grid-template-columns: repeat(5,1fr);
  grid-auto-rows: max-content;
  justify-content: center;
  height: min-content;
  gap: 5px;
}

@media (max-width: 768px) {
  section.container {
    grid-template-columns: 1fr;
    grid-template-areas: 
    "aside"
    "main"
    "list"
    "footer"
  }
  section.container main{
    grid-template-columns: repeat(3,1fr);
  }
}



div.product {
  border: #010101; 
  border-style: solid;
  border-radius: 20px;
  border-color: #776885;
  background-color: #5F1A37;
  display: block;
  padding: 10px;
}

div.product h3 {
  text-align: center;
  margin-bottom: 2px;
}

div.product h5 {
  margin-top: 1px;
  text-align: center;
  color: antiquewhite;
}

div.product-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

h3 span.danger {
  color:  rgb(255, 102, 0);
}

h3 span.success {
  color:  rgb(0, 255, 42);
}

p.success {
  color:  rgb(39, 168, 61);
  font-weight: bold;
}

form.add div{
  margin: 10px;
}

form.add div.block label{
  display:block;
  margin:0;
}

button.close {
  position: absolute;
  height: 25px;
  right: 2%;
  top:2%;
  margin-bottom: 20px;
}

small.brand {
  font-size: small;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.9);
}

dialog.sm{
  width: 10vw;
}


dialog.md{
  width: 25vw;
}

dialog.lg{
  width: 50vw;
}

button {
  font-family: inherit;
  font-weight: bold;
  border: 2px solid #73C2BE;
  border-radius: 5px;
  height: 40px;
  border-bottom: solid #538f8c;
  transition: 0.2s;
}

button.sm {
  height: 28px;
}

button:hover {
  transform: scale(1.1);
}

button:active {
  transform: scale(0.9);
}

button.empty {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: unset;
  background-color: unset;
}


aside.filters{
  display: flex;
  justify-self: center;
  flex-direction: column;
  width: fit-content;
  height: min-content;
  gap: 10px;
  justify-content: start;
  align-content: center;
}

aside.filters button.menu{
  height: 40px;
  color:antiquewhite;
  border-color:antiquewhite;
  background-color: #776885;
}

aside.list{
  justify-self: center;
  position: relative;
  top: 0%;
  color: #010101;
  font-weight: bold;
  font-size: large;
  width: 80%;
  font-family: monospace;
  background-color: antiquewhite;
  border: 5px solid #5F1A37;
  border-radius: 10px;
  padding: 20px;
}

button.red {
  background-color: darkred;
  border-color: crimson;
  color:azure ;
}


ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  margin-bottom: 8px; /* Adjust as needed for spacing between list items */
}


div.product-edit {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* SELECT */


select {
  width: 200px;
  padding: 10px;
  font-size: 16px;
  border: none;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

select:after {
  content: '\25BC';
  position: absolute;
  top: 50%;
  right: 10px;
  color: #555;
  transition: 0.3s;
  transform: translateY(-50%);
}

select:hover:after {
  color: #333;
}

select option {
  padding: 10px;
  font-size: 16px;
  background-color: #f0f0f0;
}


/*INPUTS TEXT*/

input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  outline: none;
}
input[type="text"]:focus {
  border-color: #3498db;
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

label {
  margin-bottom: 8px;
  font-size: 14px;
  color: #333;
  transition: color 0.3s;
}

.bold {
  font-size: bold;
}

.antique{
  color:antiquewhite;
}

input[type="text"]:focus + label {
  color: #3498db;
}


input[type="number"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  outline: none;
}
input[type="checkbox"] {
  margin-right: 5px;
}
input[type="checkbox"] + label {
  font-size: 14px;
  margin-left: 5px;
  color: #333;
}
input[type="checkbox"]:hover {
  background-color: #f0f0f0;
}
input[type="checkbox"]:checked {
  background-color: #3498db;
  border-color: #3498db;
}
input[type="checkbox"]:checked:hover {
  background-color: #2181b5;
  border-color: #2181b5;
}


/*TABLA*/

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

/* Style the table header */
th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

td:first-child {
  width: auto;
}

th {
  background-color: #f2f2f2;
}

/* Add some hover effect to the table rows */
tr:hover {
  background-color: #f5f5f5;
}

button.success {
  background-color: green;
  color: antiquewhite;
}